* {
    margin: 0;
    padding: 0;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    border: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

input,
textarea {
    resize: none;
    outline: none;
    border: 0;
}

.clear {
    clear: both;
}

.clear {
    clear: both;
}